<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- title %></title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>

    <div class="wrapper">
      
        <div class="background-one">
            <div class="link-container">
              <a class="link-one" href="/">Home</a>
            </div>
        </div>
        <div class="background-two link-container">
            <a class="link-two" href="/services">our services</a>
        </div>
        <div class="background-three link-container">
            <a class="link-three" href="/contact">contact us</a>
        </div>
    </div>
    <div>
        <%- include('../partials/header.ejs') %>
        <main><%- body %></main>
        <%- include('../partials/footer.ejs') %>
    </div>
</body>
</html>